***
<h1 align="center">Exercise 06</h1>
 
***
## While Loop
## Exercise 6.1
isilah bagian rumpang berikut. xx diganti tanggal lahir dan yy diganti menjadi bulan lahir. tandanya menyesuaikan yang lebih besar.

In [1]:
#menentukan banyak pengulangan
n = 20

#melakukan pengulangan
i = 4

while i <= n :
    print ("Hiduplah sebagai diri sendiri")
    #diisi motto kalian
    i = i + 1 # sesuaikan dengan atas agar fungsi perulangan dapat berhenti

Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri

## Exercise 6.2

Buatlah code seperti yang dicontohkan pada modul agar user dapat menginputkan sendiri jumlah n yang diinginkan

In [2]:
#Kerjakan disini
n  = int(input("Masukkan nilai n: "))
i = 4

while i <= n :
    print("Hiduplah sebagai diri sendiri")
    i = i + 1

Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri
Hiduplah sebagai diri sendiri

## Excercise 6.3

isilah xx, yy, dan tanda rumpang seperti pada exercise 6.1

In [3]:
#melakukan pengulangan
i = 20

while i != 4 :
    print ("Baris ke-%d : Interstellar"%i)
    #isi titik-titik dengan judul film favorit kalian
    i = i - 1

Baris ke-20 : Interstellar
Baris ke-19 : Interstellar
Baris ke-18 : Interstellar
Baris ke-17 : Interstellar
Baris ke-16 : Interstellar
Baris ke-15 : Interstellar
Baris ke-14 : Interstellar
Baris ke-13 : Interstellar
Baris ke-12 : Interstellar
Baris ke-11 : Interstellar
Baris ke-10 : Interstellar
Baris ke-9 : Interstellar
Baris ke-8 : Interstellar
Baris ke-7 : Interstellar
Baris ke-6 : Interstellar
Baris ke-5 : Interstellar

## FOR LOOP

## Exercise 6.4

munculkan 3 dari 7 elemen yang berada di dalam list1 dan list2

In [10]:
list1 = [
    "Tongseng", 
    "Gudeg", 
    "Nasi Goreng", 
    "Sushi", 
    "Ramen", 
    "Burger",
    "Nasi Kebuli"] #masukkan 7 list makanan favorit kalian
list2 = [
    "Balikpapan",
    "Tokyo", 
    "Denpasar", 
    "Surabaya", 
    "Jakarta", 
    "Bogor", 
    "Solo"] #masukkan 7 list kota favorit kalian

for i in range(4,7) :
    print(i+1, list1[i] , list2[i])

5 Ramen Jakarta
6 Burger Bogor
7 Nasi Kebuli Solo

## Perulangan Bersarang

## Exercise 6.5

In [5]:
i = 20
while i >= 4:
    j = 20
    while j>=i:
        print("%d " % (i*j), end = '')
        j = j - 1
    print()
    i -=1

400
380 361
360 342 324
340 323 306 289
320 304 288 272 256
300 285 270 255 240 225
280 266 252 238 224 210 196
260 247 234 221 208 195 182 169
240 228 216 204 192 180 168 156 144
220 209 198 187 176 165 154 143 132 121
200 190 180 170 160 150 140 130 120 110 100
180 171 162 153 144 135 126 117 108 99 90 81
160 152 144 136 128 120 112 104 96 88 80 72 64
140 133 126 119 112 105 98 91 84 77 70 63 56 49
120 114 108 102 96 90 84 78 72 66 60 54 48 42 36
100 95 90 85 80 75 70 65 60 55 50 45 40 35 30 25
80 76 72 68 64 60 56 52 48 44 40 36 32 28 24 20 16

## Pernyataan Loncat

## Exercise 6.

Buatlah fungsi berikut agar muncul angka hingga berhenti sesuai dengan nilai qq
qq = angka favorit kalian
pp>qq

In [8]:
for i in range(400):
    print(i,end=' ')
    if i == 343:
        break

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343

***
<h1 align="center">WELL DONE</h1>
 
***